.header, .main ,.footer{
    border: 1px solid black;
    
}

.header{
    min-height: 10vh;
}
.main{
    min-height: 100vh;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid #ddd;


    .footerImg {
        width: 60px;
        height: 35px;
        cursor: pointer;
      }
}


  
