
.profile-header{
    margin-left: 10px;
}

.profile-data{
    margin-top: 70px;
    margin-left: 10px;
}

.user-data-1{
    display: flex;
    margin-top: 15px;
}
.user-data-2{
    display: flex;
    margin-top: 15px;
}
.user-data-3{
    display: flex;
    margin-top: 15px;
}
.profile-mind-list{
    display: flex;
    margin-top: 15px;
}
.list-items{
    width: 130px;
    height: 45px;
    background-color: #c1c1c1a1;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin-left: 5px;
    font-size: 17px;
}
.profile-myInfo{
    border: 2px solid #00000036;
    margin-top: 10px;
    border-radius: 10px;
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 50px;
    width: 410px;
    font-size: 20px;
}

