.userInfo-title{
    margin-top: 25px;
    margin-left: 20px;
}

.inputs-container{
    margin-top: 30px;
    display: flex;
    border: 1px solid #d7d7d7;
    border-radius: 15px;
    height: 63px;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 15px;

    .inputs{
        border: none;
        height: 50px;
        //background-color: red;
        margin-top: 5px;
        //margin-right: 5px;
        position: relative;
        right: 10px;
    }
    .nick-fine-btn{
        width: 30%;
        height: 50px;
        margin-right: 10px;
        margin-top: 5px;
    }
}

.gender-select{
    display: flex;
    width: 90%;
    margin-left: 22px;
    height: 100px;
    margin-top: 35px;


    .gender-f{
        margin-right: 10px;
        background-color: #f5a5b3;
    }
    .gender-m{
        background-color: #c1c1fb;
    }
    .gender-f:hover{
        background-color: #f46b82 !important;
    }
    .gender-m:hover{
        background-color: #8080f8 !important;
    }
    .gender-f.selected {
        background-color: #f46b82 !important;
    }
    .gender-m.selected {
        background-color: #8080f8 !important;
    }
}


.next-btn{
    width: 91%;
    margin-left: 20px;
    position: absolute;
    top: 750px;
}


.slide-in {
    animation: change 0.8s ease forwards;
  }
  
  @keyframes change {
    from {
      transform: translateX(5%);
      visibility: visible;
    }
  
    to {
      transform: translateX(0%);
    }
  }



  .dropdown-container {
    background-color: #f7f7f7;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-select {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  .dropdown-select span {
    margin-left: 10px;
  }

  .dropdown-options{
    display: block;
    max-height: 150px; /* 높이는 원하는 대로 조정 */
    overflow-y: auto;
  }

  .dropdown-options li{
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
  }

  .dropdown-options li:hover{
    background-color: rgb(191, 189, 189);
    border-radius: 8px;
  }


  .interest-select {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 버튼 사이 여백 */
    margin: 20px;
    justify-content: center;
    margin-top: 65px;
  }
  
  .interestList-item {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 30%;
  }
  
  .interestList-item:hover {
    background-color: #d8d8d8;
  }
  
  .interestList-item.selected {
    background-color: #ff85d0;
    color: white;
    font-weight: bold;
  }



  

  .infoList-select {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 버튼 사이 여백 */
    margin: 20px;
    justify-content: center;
    margin-top: 65px;
  }
  
  .infoList-item {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 30%;
  }
  
  .infoList-item:hover {
    background-color: #d8d8d8;
  }
  
  .infoList-item.selected {
    background-color: #ff85d0;
    color: white;
    font-weight: bold;
  }





  



  