.like-contain {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 80px;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.like-header {
  border-bottom: 2px solid #e2e2e2;
  padding: 10px 0;
  position: relative;
  height: 80px;
}

.spark-like-tabs {
  display: flex;
  gap: 2px;
  margin: 10px;
  height: 80px;
  position: absolute;
  justify-self: center;
  bottom: 5px;
  width: 100%;
  padding: 5px;
}

.tab-btn {
  background-color: white;
  color: black;
  height: 90px;
  font-size: 20px;
  border-radius: 0px;
}
.tab-btn:hover,
.tab-btn.active {
  background-color: rgb(236, 236, 236);
  color: black;
}

.like-header b {
  margin-left: 15px;
  font-size: 1.6rem;
  color: #222;
}

.like-list-box {
  margin-top: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}

.list-list-info {
  display: flex;
  align-items: center;
}

.like-list-img-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.like-profile-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.like-profile-img img:hover {
  transform: scale(1.05);
}

.like-list-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.like-name {
  font-size: 1.3rem;
  color: #333;
}

.like-age {
  font-size: 1rem;
  color: #888;
}


.like-list-buttons {
  margin-left: auto;
  display: flex;
  gap: 20px;
  width: 200px;
  height: 40px;
}

.like-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

.like-btn.accept {
  background-color: #ff7ca8;
  color: white;
}

.like-btn.accept:hover {
  background-color: #ff3c7d;
}

.like-btn.reject {
  background-color: #bebebe;
  color: white;
}

.like-btn.reject:hover {
  background-color: #737373;
}


